html, body, #root {
  height: 100%;
  margin: 0;
  width: 100%;
  background-color: #ffe298; /* sin transparencia */
}

/* @font-face {
  font-family: 'DINPro';
  src: url('./DINPro.woff2') format('woff2'),
       url('./DINPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'DINPro', sans-serif;
} */